In [4]:
import pandas as pd
df = pd.DataFrame([
['green', 'M', 10.1, 'class2'],
['red', 'L', 13.5, 'class1'],
['blue', 'XL', 15.3, 'class2']])
df.columns = ['color', 'size', 'price', 'Label']
df

   color size  price   Label
0  green    M   10.1  class2
1    red    L   13.5  class1
2   blue   XL   15.3  class2

In [5]:
size_mapping = {'XL': 2,'L': 1,'M': 0}
df['size'] = df['size'].map(size_mapping)
df

   color  size  price   Label
0  green     0   10.1  class2
1    red     1   13.5  class1
2   blue     2   15.3  class2

In [6]:
df.isnull().sum()

color    0
size     0
price    0
Label    0
dtype: int64

In [9]:
inv_size_mapping = {v: k for k,v in size_mapping.items()}
df['size'].map(inv_size_mapping)

0     M
1     L
2    XL
Name: size, dtype: object

In [10]:
df

   color  size  price   Label
0  green     0   10.1  class2
1    red     1   13.5  class1
2   blue     2   15.3  class2